secrets.env
.settings
.wtpmodules
target
.project
.classpath
outdated-dependencies.txt
bin
*.iml
.idea
_*.sh
*.local
*.localz
*.zip
*.versionsBackup
*.log
*.db
maven-eclipse.xml
.externalToolBuilders
dep.txt
/docs/asciidoc/index.html
.mvn/maven.config
.mvn/jvm.config
.flattened*
.flattened
*.patch
/.mvn/
target/
.env
.java-version
